<!-- header.component.html -->
<header>
  <div class="container">
    <div class="row align-items-center">
      <!-- Logo Section -->
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo-container">
          <h1>Digital Soul</h1>
        </div>
      </div>

      <!-- Navbar Section -->
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon">
          <i class="bi bi-list"></i>
        </div>
        <div class="desktop_menu">
          <ul>
            <li (click)="goToHome()">Home</li>  <!-- Home link redirects to HomeComponent -->
            <li (click)="goToLogin()">Employee</li>  <!-- Employee link redirects to login -->
            <li (click)="goToLogin()">Admin</li>
            <li (click)="goToLogin()">Manager</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
